.parent-div {
    width: 1728px;
    height: 3630px;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.FRAME-753-19212 {
    transform: rotate(0deg);
    position: relative;
    width: 1728px;
    height: 3630px;
    left: 0px;
    top: 0px;
    opacity: 1;
    overflow: hidden;
    background: rgba(255, 255, 255, 1);
}

.INSTANCE-753-19216 {
    transform: rotate(0deg);
    position: absolute;
    width: 1085px;
    height: 432px;
    left: 0px;
    top: 163px;
    opacity: 1;
}

.FRAME-I753-19216-104-4451 {
    transform: rotate(0deg);
    position: absolute;
    width: 1440px;
    height: 192px;
    left: 0px;
    top: 0px;
    opacity: 0;
    background: rgba(255, 255, 255, 1);
}

.FRAME-I753-19216-104-4452 {
    transform: rotate(0deg);
    position: absolute;
    width: 1280px;
    height: 64px;
    left: 160px;
    top: 88px;
    opacity: 0;
}

.FRAME-I753-19216-104-4453 {
    transform: rotate(0deg);
    position: absolute;
    width: 272px;
    height: 64px;
    left: 0px;
    top: 0px;
    opacity: 1;
    background: rgba(248, 248, 248, 1);
    border: 2px solid rgba(243, 243, 244, 1);

    left: -2px !important;
    top: -2px !important;
    border-radius: 100px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

.FRAME-I753-19216-104-4457 {
    transform: rotate(0deg);
    position: absolute;
    width: 209px;
    height: 64px;
    left: 991px;
    top: 0px;
    opacity: 1;
    background: rgba(248, 248, 248, 1);
    border-radius: 100px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

.INSTANCE-I753-19216-104-4459 {
    transform: rotate(0deg);
    position: absolute;
    width: 1085px;
    height: 4px;
    left: 0px;
    top: 40px;
    opacity: 1;
}

.FRAME-I753-19216-104-4460 {
    transform: rotate(0deg);
    position: absolute;
    width: 1085px;
    height: 348px;
    left: 0px;
    top: 44px;
    opacity: 1;
}

.FRAME-I753-19216-104-4461 {
    transform: rotate(0deg);
    position: absolute;
    width: 925px;
    height: 192px;
    left: 160px;
    top: 52px;
    opacity: 1;
}

.INSTANCE-I753-19216-104-4888 {
    transform: rotate(0deg);
    position: absolute;
    width: 217px;
    height: 48px;
    left: 366px;
    top: 0px;
    opacity: 0;
    background: rgba(255, 244, 218, 1);
    border-radius: 100px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

.INSTANCE-753-19218 {
    transform: rotate(0deg);
    position: absolute;
    width: 526px;
    height: 96px;
    left: 167px;
    top: 573px;
    opacity: 1;
    box-shadow: 0px 1px 2px -1px rgba(17, 12, 34, 0.07999999821186066);
    overflow: hidden;
    background: rgba(114, 87, 255, 1);
    box-shadow: 0px 1px 2px -1px rgba(17, 12, 34, 0.07999999821186066);
    border-radius: 12px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.INSTANCE-I753-19218-15-336 {
    transform: rotate(0deg);
    position: absolute;
    width: 24px;
    height: 24px;
    left: 16px;
    top: 16px;
    opacity: 0;
    overflow: hidden;
}

.INSTANCE-I753-19218-15-338 {
    transform: rotate(0deg);
    position: absolute;
    width: 24px;
    height: 24px;
    left: 123px;
    top: 16px;
    opacity: 0;
    overflow: hidden;
}

.INSTANCE-753-19906 {
    transform: rotate(0deg);
    position: absolute;
    width: 1281px;
    height: 52px;
    left: 199px;
    top: 1144px;
    opacity: 1;
    background: rgba(236, 236, 237, 1);
    border-radius: 16px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.INSTANCE-I753-19906-157-5303 {
    transform: rotate(0deg);
    position: absolute;
    width: 632.5px;
    height: 48px;
    left: 4px;
    top: 4px;
    opacity: 1;
    box-shadow: 0px 6px 16px -6px rgba(17, 12, 34, 0.10000000149011612);
    overflow: hidden;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 6px 16px -6px rgba(17, 12, 34, 0.10000000149011612);
    border-radius: 12px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.INSTANCE-I753-19906-157-5303-156-5004 {
    transform: rotate(0deg);
    position: absolute;
    width: 20px;
    height: 20px;
    left: 16px;
    top: 14px;
    opacity: 0;
    overflow: hidden;
}

.INSTANCE-I753-19906-157-5303-156-5006 {
    transform: rotate(0deg);
    position: absolute;
    width: 20px;
    height: 20px;
    left: 100px;
    top: 14px;
    opacity: 0;
    overflow: hidden;
}

.INSTANCE-I753-19906-157-5304 {
    transform: rotate(0deg);
    position: absolute;
    width: 66.66666412353516px;
    height: 48px;
    left: 78.66666412353516px;
    top: 4px;
    opacity: 0;
    overflow: hidden;
    background: transparent;
    border-radius: 12px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.INSTANCE-I753-19906-157-5304-157-4875 {
    transform: rotate(0deg);
    position: absolute;
    width: 20px;
    height: 20px;
    left: 16px;
    top: 14px;
    opacity: 0;
    overflow: hidden;
}

.INSTANCE-I753-19906-157-5304-157-4877 {
    transform: rotate(0deg);
    position: absolute;
    width: 20px;
    height: 20px;
    left: 100px;
    top: 14px;
    opacity: 0;
    overflow: hidden;
}

.INSTANCE-I753-19906-157-5305 {
    transform: rotate(0deg);
    position: absolute;
    width: 66.66666412353516px;
    height: 48px;
    left: 153.3333282470703px;
    top: 4px;
    opacity: 0;
    overflow: hidden;
    background: transparent;
    border-radius: 12px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.INSTANCE-I753-19906-157-5305-157-4875 {
    transform: rotate(0deg);
    position: absolute;
    width: 20px;
    height: 20px;
    left: 16px;
    top: 14px;
    opacity: 0;
    overflow: hidden;
}

.INSTANCE-I753-19906-157-5305-157-4877 {
    transform: rotate(0deg);
    position: absolute;
    width: 20px;
    height: 20px;
    left: 100px;
    top: 14px;
    opacity: 0;
    overflow: hidden;
}

.INSTANCE-I753-19906-157-5306 {
    transform: rotate(0deg);
    position: absolute;
    width: 66.66666412353516px;
    height: 48px;
    left: 228px;
    top: 4px;
    opacity: 0;
    overflow: hidden;
    background: transparent;
    border-radius: 12px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.INSTANCE-I753-19906-157-5306-157-4875 {
    transform: rotate(0deg);
    position: absolute;
    width: 20px;
    height: 20px;
    left: 16px;
    top: 14px;
    opacity: 0;
    overflow: hidden;
}

.INSTANCE-I753-19906-157-5306-157-4877 {
    transform: rotate(0deg);
    position: absolute;
    width: 20px;
    height: 20px;
    left: 100px;
    top: 14px;
    opacity: 0;
    overflow: hidden;
}

.INSTANCE-I753-19906-157-5307 {
    transform: rotate(0deg);
    position: absolute;
    width: 66.66666412353516px;
    height: 48px;
    left: 302.6666564941406px;
    top: 4px;
    opacity: 0;
    overflow: hidden;
    background: transparent;
    border-radius: 12px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.INSTANCE-I753-19906-157-5307-157-4875 {
    transform: rotate(0deg);
    position: absolute;
    width: 20px;
    height: 20px;
    left: 16px;
    top: 14px;
    opacity: 0;
    overflow: hidden;
}

.INSTANCE-I753-19906-157-5307-157-4877 {
    transform: rotate(0deg);
    position: absolute;
    width: 20px;
    height: 20px;
    left: 100px;
    top: 14px;
    opacity: 0;
    overflow: hidden;
}

.INSTANCE-I753-19906-157-5308 {
    transform: rotate(0deg);
    position: absolute;
    width: 632.5px;
    height: 48px;
    left: 644.5px;
    top: 4px;
    opacity: 1;
    overflow: hidden;
    background: transparent;
    border-radius: 12px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.INSTANCE-I753-19906-157-5308-157-4875 {
    transform: rotate(0deg);
    position: absolute;
    width: 20px;
    height: 20px;
    left: 16px;
    top: 14px;
    opacity: 0;
    overflow: hidden;
}

.INSTANCE-I753-19906-157-5308-157-4877 {
    transform: rotate(0deg);
    position: absolute;
    width: 20px;
    height: 20px;
    left: 100px;
    top: 14px;
    opacity: 0;
    overflow: hidden;
}

.GROUP-753-19976 {
    position: absolute;
    width: 320px;
    height: 40px;
    left: 704px;
    top: 3336px;
    transform: rotate(0deg);
    z-index: 15;
    opacity: 1;
}

.INSTANCE-753-19977 {
    transform: rotate(0deg);
    position: absolute;
    width: 320px;
    height: 40px;
    left: 704px;
    top: 3336px;
    opacity: 1;
    background: transparent;
}

.INSTANCE-I753-19977-1744-57077 {
    transform: rotate(0deg);
    position: absolute;
    width: 106px;
    height: 40px;
    left: 0px;
    top: 0px;
    opacity: 1;
    box-shadow: 0px 1px 2px -1px rgba(17, 12, 34, 0.07999999821186066);
    overflow: hidden;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 1px 2px -1px rgba(17, 12, 34, 0.07999999821186066);
    border: 1px solid rgba(236, 236, 237, 1);

    left: -1px !important;
    top: -1px !important;
    border-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.INSTANCE-I753-19977-1744-57077-61-1483 {
    transform: rotate(0deg);
    position: absolute;
    width: 18px;
    height: 18px;
    left: 12px;
    top: 11px;
    opacity: 1;
    overflow: hidden;
}

.INSTANCE-I753-19977-1744-57077-61-1485 {
    transform: rotate(0deg);
    position: absolute;
    width: 18px;
    height: 18px;
    left: 92px;
    top: 11px;
    opacity: 0;
    overflow: hidden;
}

.INSTANCE-I753-19977-2317-51467 {
    transform: rotate(0deg);
    position: absolute;
    width: 80px;
    height: 40px;
    left: 240px;
    top: 0px;
    opacity: 1;
    box-shadow: 0px 1px 2px -1px rgba(17, 12, 34, 0.07999999821186066);
    overflow: hidden;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 1px 2px -1px rgba(17, 12, 34, 0.07999999821186066);
    border: 1px solid rgba(236, 236, 237, 1);

    left: 239px !important;
    top: -1px !important;
    border-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.INSTANCE-I753-19977-2317-51467-61-1483 {
    transform: rotate(0deg);
    position: absolute;
    width: 18px;
    height: 18px;
    left: 12px;
    top: 11px;
    opacity: 0;
    overflow: hidden;
}

.INSTANCE-I753-19977-2317-51467-61-1485 {
    transform: rotate(0deg);
    position: absolute;
    width: 18px;
    height: 18px;
    left: 50px;
    top: 11px;
    opacity: 1;
    overflow: hidden;
}

.INSTANCE-753-19220 {
    transform: rotate(0deg);
    position: absolute;
    width: 1536px;
    height: 72.00001525878906px;
    left: 111px;
    top: 0px;
    opacity: 1;
    background: transparent;
}

.INSTANCE-I753-19220-603-17556 {
    transform: rotate(0deg);
    position: absolute;
    width: 1729px;
    height: 72px;
    left: -112px;
    top: 0px;
    opacity: 1;
    background: rgba(255, 255, 255, 1);
    border-top: 0px solid rgba(243, 243, 244, 1);

    border-bottom: 1px solid rgba(243, 243, 244, 1);

    border-left: 0px solid rgba(243, 243, 244, 1);

    border-right: 0px solid rgba(243, 243, 244, 1);
}

.FRAME-I753-19220-603-17556-2903-63182 {
    transform: rotate(0deg);
    position: absolute;
    width: 1697px;
    height: 40px;
    left: 16px;
    top: 16px;
    opacity: 1;
}

.INSTANCE-I753-19220-603-17556-364-18430 {
    transform: rotate(0deg);
    position: absolute;
    width: 141px;
    height: 67px;
    left: 0px;
    top: 0px;
    opacity: 0;
    background: transparent;
}

.FRAME-I753-19220-603-17556-2903-63185 {
    transform: rotate(0deg);
    position: absolute;
    width: 136px;
    height: 40px;
    left: 1561px;
    top: 0px;
    opacity: 1;
}

.INSTANCE-I753-19220-603-17556-2903-63186 {
    transform: rotate(0deg);
    position: absolute;
    width: 136px;
    height: 40px;
    left: 0px;
    top: 0px;
    opacity: 1;
    box-shadow: 0px 1px 2px -1px rgba(17, 12, 34, 0.07999999821186066);
    overflow: hidden;
    background: rgba(114, 87, 255, 1);
    box-shadow: 0px 1px 2px -1px rgba(17, 12, 34, 0.07999999821186066);
    border-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.INSTANCE-I753-19220-603-17556-2903-63186-15-364 {
    transform: rotate(0deg);
    position: absolute;
    width: 18px;
    height: 18px;
    left: 12px;
    top: 11px;
    opacity: 0;
    overflow: hidden;
}

.INSTANCE-I753-19220-603-17556-2903-63186-15-366 {
    transform: rotate(0deg);
    position: absolute;
    width: 18px;
    height: 18px;
    left: 92px;
    top: 11px;
    opacity: 0;
    overflow: hidden;
}

.INSTANCE-I753-19220-603-18350 {
    transform: rotate(0deg);
    position: absolute;
    width: 24px;
    height: 24px;
    left: 1281px;
    top: 24px;
    opacity: 1;
    overflow: hidden;
}

.INSTANCE-I753-19220-603-18351 {
    transform: rotate(0deg);
    position: absolute;
    width: 122px;
    height: 40px;
    left: 1321px;
    top: 16px;
    opacity: 1;
    box-shadow: 0px 1px 2px -1px rgba(17, 12, 34, 0.07999999821186066);
    overflow: hidden;
    background: rgba(249, 248, 255, 1);
    box-shadow: 0px 1px 2px -1px rgba(17, 12, 34, 0.07999999821186066);
    border: 1px solid rgba(226, 220, 255, 1);

    left: 1320px !important;
    top: 15px !important;
    border-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.INSTANCE-I753-19220-603-18351-58-2425 {
    transform: rotate(0deg);
    position: absolute;
    width: 18px;
    height: 18px;
    left: 12px;
    top: 11px;
    opacity: 0;
    overflow: hidden;
}

.INSTANCE-I753-19220-603-18351-58-2427 {
    transform: rotate(0deg);
    position: absolute;
    width: 18px;
    height: 18px;
    left: 92px;
    top: 11px;
    opacity: 0;
    overflow: hidden;
}

.FRAME-I753-19220-603-18352 {
    transform: rotate(0deg);
    position: absolute;
    width: 448px;
    height: 40px;
    left: 285px;
    top: 16px;
    opacity: 1;
    overflow: hidden;
    background: rgba(236, 236, 237, 1);
    border: 1px solid rgba(236, 236, 237, 1);

    left: 284px !important;
    top: 15px !important;
    border-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.INSTANCE-I753-19220-603-18353 {
    transform: rotate(0deg);
    position: absolute;
    width: 18px;
    height: 18px;
    left: 12px;
    top: 11px;
    opacity: 1;
    overflow: hidden;
}

.INSTANCE-I753-19220-603-18355 {
    transform: rotate(0deg);
    position: absolute;
    width: 18px;
    height: 18px;
    left: 202px;
    top: 11px;
    opacity: 0;
    overflow: hidden;
}

.INSTANCE-I753-19220-603-18356 {
    transform: rotate(0deg);
    position: absolute;
    width: 350px;
    height: 40px;
    left: 810px;
    top: 20px;
    opacity: 1;
    background: transparent;
}

.INSTANCE-I753-19220-603-18356-805-21839 {
    transform: rotate(0deg);
    position: absolute;
    width: 123px;
    height: 40px;
    left: 0px;
    top: 0px;
    opacity: 1;
    overflow: hidden;
    background: transparent;
    border-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.INSTANCE-I753-19220-603-18356-805-21839-805-21718 {
    transform: rotate(0deg);
    position: absolute;
    width: 18px;
    height: 18px;
    left: 12px;
    top: 11px;
    opacity: 0;
    overflow: hidden;
}

.INSTANCE-I753-19220-603-18356-805-21839-805-21720 {
    transform: rotate(0deg);
    position: absolute;
    width: 18px;
    height: 18px;
    left: 77px;
    top: 11px;
    opacity: 0;
    overflow: hidden;
}

.INSTANCE-I753-19220-603-18356-805-21840 {
    transform: rotate(0deg);
    position: absolute;
    width: 109px;
    height: 40px;
    left: 131px;
    top: 0px;
    opacity: 1;
    overflow: hidden;
    background: transparent;
    border-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.INSTANCE-I753-19220-603-18356-805-21840-805-21718 {
    transform: rotate(0deg);
    position: absolute;
    width: 18px;
    height: 18px;
    left: 12px;
    top: 11px;
    opacity: 0;
    overflow: hidden;
}

.INSTANCE-I753-19220-603-18356-805-21840-805-21720 {
    transform: rotate(0deg);
    position: absolute;
    width: 18px;
    height: 18px;
    left: 77px;
    top: 11px;
    opacity: 0;
    overflow: hidden;
}

.INSTANCE-I753-19220-603-18356-805-21841 {
    transform: rotate(0deg);
    position: absolute;
    width: 102px;
    height: 40px;
    left: 248px;
    top: 0px;
    opacity: 1;
    overflow: hidden;
    background: transparent;
    border-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.INSTANCE-I753-19220-603-18356-805-21841-805-21718 {
    transform: rotate(0deg);
    position: absolute;
    width: 18px;
    height: 18px;
    left: 12px;
    top: 11px;
    opacity: 0;
    overflow: hidden;
}

.INSTANCE-I753-19220-603-18356-805-21841-805-21720 {
    transform: rotate(0deg);
    position: absolute;
    width: 18px;
    height: 18px;
    left: 77px;
    top: 11px;
    opacity: 0;
    overflow: hidden;
}

.INSTANCE-I753-19220-603-18357 {
    transform: rotate(0deg);
    position: absolute;
    width: 32px;
    height: 32px;
    left: 1236px;
    top: 20px;
    opacity: 1;
}

.FRAME-I753-19220-603-18357-1636-44820 {
    transform: rotate(0deg);
    position: absolute;
    width: 32px;
    height: 32px;
    left: 0px;
    top: 0px;
    opacity: 1;
    overflow: hidden;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(217, 216, 220, 1);

    left: -1px !important;
    top: -1px !important;
    border-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.INSTANCE-I753-19220-603-18357-1636-44822 {
    transform: rotate(0deg);
    position: absolute;
    width: 14px;
    height: 14px;
    left: 9px;
    top: 9px;
    opacity: 1;
    overflow: hidden;
}

.GROUP-888-19012 {
    position: absolute;
    width: 972px;
    height: 125px;
    left: 378px;
    top: 3470px;
    transform: rotate(0deg);
    z-index: 18;
    opacity: 1;
}

.GROUP-872-19366 {
    position: absolute;
    width: 972px;
    height: 24px;
    left: 378px;
    top: 3547px;
    transform: rotate(0deg);
    z-index: 18;
    opacity: 1;
}