.parent-div {
    width: 1728px;
    height: 1636px;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.FRAME-981-20845 {
    transform: rotate(0deg);
    position: relative;
    width: 1728px;
    height: 1636px;
    left: 0px;
    top: 0px;
    opacity: 1;
    overflow: hidden;
    background: rgba(255, 255, 255, 1);
}

.RECTANGLE-981-21090 {
    position: absolute;
    left: 421px;
    top: 422px;
    transform: rotate(0deg);
    transform-origin: center !important;
    background: rgba(255, 255, 255, 1);

    border: 2px solid rgba(177, 177, 177, 1);

    border-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    width: 1242px;
    height: 423px;
    opacity: 1;
}

.INSTANCE-981-20852 {
    transform: rotate(0deg);
    position: absolute;
    width: 1647.0731201171875px;
    height: 73.00001525878906px;
    left: 61px;
    top: -1px;
    opacity: 1;
    background: transparent;
}

.FRAME-I981-20852-892-19898 {
    transform: rotate(0deg);
    position: absolute;
    width: 1536px;
    height: 72.00001525878906px;
    left: 48px;
    top: 1px;
    opacity: 1;
    background: transparent;
}

.INSTANCE-I981-20852-892-19899 {
    transform: rotate(0deg);
    position: absolute;
    width: 1729px;
    height: 72px;
    left: -108px;
    top: 0px;
    opacity: 1;
    background: rgba(255, 255, 255, 1);
    border-top: 0px solid rgba(243, 243, 244, 1);

    border-bottom: 1px solid rgba(243, 243, 244, 1);

    border-left: 0px solid rgba(243, 243, 244, 1);

    border-right: 0px solid rgba(243, 243, 244, 1);
}

.FRAME-I981-20852-892-19899-2903-63182 {
    transform: rotate(0deg);
    position: absolute;
    width: 1697px;
    height: 40px;
    left: 16px;
    top: 16px;
    opacity: 1;
}

.INSTANCE-I981-20852-892-19899-364-18430 {
    transform: rotate(0deg);
    position: absolute;
    width: 141px;
    height: 67px;
    left: 0px;
    top: 0px;
    opacity: 0;
    background: transparent;
}

.FRAME-I981-20852-892-19899-2903-63185 {
    transform: rotate(0deg);
    position: absolute;
    width: 136px;
    height: 40px;
    left: 1561px;
    top: 0px;
    opacity: 1;
}

.INSTANCE-I981-20852-892-19899-2903-63186 {
    transform: rotate(0deg);
    position: absolute;
    width: 136px;
    height: 40px;
    left: 0px;
    top: 0px;
    opacity: 0;
    box-shadow: 0px 1px 2px -1px rgba(17, 12, 34, 0.07999999821186066);
    overflow: hidden;
    background: rgba(114, 87, 255, 1);
    box-shadow: 0px 1px 2px -1px rgba(17, 12, 34, 0.07999999821186066);
    border-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.INSTANCE-I981-20852-892-19899-2903-63186-15-364 {
    transform: rotate(0deg);
    position: absolute;
    width: 18px;
    height: 18px;
    left: 12px;
    top: 11px;
    opacity: 0;
    overflow: hidden;
}

.INSTANCE-I981-20852-892-19899-2903-63186-15-366 {
    transform: rotate(0deg);
    position: absolute;
    width: 18px;
    height: 18px;
    left: 92px;
    top: 11px;
    opacity: 0;
    overflow: hidden;
}

.INSTANCE-I981-20852-892-19900 {
    transform: rotate(0deg);
    position: absolute;
    width: 24px;
    height: 24px;
    left: 1281px;
    top: 24px;
    opacity: 0;
    overflow: hidden;
}

.INSTANCE-I981-20852-892-19901 {
    transform: rotate(0deg);
    position: absolute;
    width: 122px;
    height: 40px;
    left: 1321px;
    top: 16px;
    opacity: 0;
    box-shadow: 0px 1px 2px -1px rgba(17, 12, 34, 0.07999999821186066);
    overflow: hidden;
    background: rgba(249, 248, 255, 1);
    box-shadow: 0px 1px 2px -1px rgba(17, 12, 34, 0.07999999821186066);
    border: 1px solid rgba(226, 220, 255, 1);

    left: 1320px !important;
    top: 15px !important;
    border-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.INSTANCE-I981-20852-892-19901-58-2425 {
    transform: rotate(0deg);
    position: absolute;
    width: 18px;
    height: 18px;
    left: 12px;
    top: 11px;
    opacity: 0;
    overflow: hidden;
}

.INSTANCE-I981-20852-892-19901-58-2427 {
    transform: rotate(0deg);
    position: absolute;
    width: 18px;
    height: 18px;
    left: 92px;
    top: 11px;
    opacity: 0;
    overflow: hidden;
}

.FRAME-I981-20852-892-19902 {
    transform: rotate(0deg);
    position: absolute;
    width: 448px;
    height: 40px;
    left: 285px;
    top: 16px;
    opacity: 1;
    overflow: hidden;
    background: rgba(236, 236, 237, 1);
    border: 1px solid rgba(236, 236, 237, 1);

    left: 284px !important;
    top: 15px !important;
    border-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.INSTANCE-I981-20852-892-19903 {
    transform: rotate(0deg);
    position: absolute;
    width: 18px;
    height: 18px;
    left: 12px;
    top: 11px;
    opacity: 1;
    overflow: hidden;
}

.INSTANCE-I981-20852-892-19905 {
    transform: rotate(0deg);
    position: absolute;
    width: 18px;
    height: 18px;
    left: 202px;
    top: 11px;
    opacity: 0;
    overflow: hidden;
}

.INSTANCE-I981-20852-892-19906 {
    transform: rotate(0deg);
    position: absolute;
    width: 350px;
    height: 40px;
    left: 810px;
    top: 20px;
    opacity: 1;
    background: transparent;
}

.INSTANCE-I981-20852-892-19906-805-21839 {
    transform: rotate(0deg);
    position: absolute;
    width: 123px;
    height: 40px;
    left: 0px;
    top: 0px;
    opacity: 1;
    overflow: hidden;
    background: transparent;
    border-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.INSTANCE-I981-20852-892-19906-805-21839-805-21718 {
    transform: rotate(0deg);
    position: absolute;
    width: 18px;
    height: 18px;
    left: 12px;
    top: 11px;
    opacity: 0;
    overflow: hidden;
}

.INSTANCE-I981-20852-892-19906-805-21839-805-21720 {
    transform: rotate(0deg);
    position: absolute;
    width: 18px;
    height: 18px;
    left: 77px;
    top: 11px;
    opacity: 0;
    overflow: hidden;
}

.INSTANCE-I981-20852-892-19906-805-21840 {
    transform: rotate(0deg);
    position: absolute;
    width: 109px;
    height: 40px;
    left: 131px;
    top: 0px;
    opacity: 1;
    overflow: hidden;
    background: transparent;
    border-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.INSTANCE-I981-20852-892-19906-805-21840-805-21718 {
    transform: rotate(0deg);
    position: absolute;
    width: 18px;
    height: 18px;
    left: 12px;
    top: 11px;
    opacity: 0;
    overflow: hidden;
}

.INSTANCE-I981-20852-892-19906-805-21840-805-21720 {
    transform: rotate(0deg);
    position: absolute;
    width: 18px;
    height: 18px;
    left: 77px;
    top: 11px;
    opacity: 0;
    overflow: hidden;
}

.INSTANCE-I981-20852-892-19906-805-21841 {
    transform: rotate(0deg);
    position: absolute;
    width: 102px;
    height: 40px;
    left: 248px;
    top: 0px;
    opacity: 1;
    overflow: hidden;
    background: transparent;
    border-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.INSTANCE-I981-20852-892-19906-805-21841-805-21718 {
    transform: rotate(0deg);
    position: absolute;
    width: 18px;
    height: 18px;
    left: 12px;
    top: 11px;
    opacity: 0;
    overflow: hidden;
}

.INSTANCE-I981-20852-892-19906-805-21841-805-21720 {
    transform: rotate(0deg);
    position: absolute;
    width: 18px;
    height: 18px;
    left: 77px;
    top: 11px;
    opacity: 0;
    overflow: hidden;
}

.INSTANCE-I981-20852-892-19907 {
    transform: rotate(0deg);
    position: absolute;
    width: 32px;
    height: 32px;
    left: 1236px;
    top: 20px;
    opacity: 0;
}

.FRAME-I981-20852-892-19907-1636-44820 {
    transform: rotate(0deg);
    position: absolute;
    width: 32px;
    height: 32px;
    left: 0px;
    top: 0px;
    opacity: 1;
    overflow: hidden;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(217, 216, 220, 1);

    left: -1px !important;
    top: -1px !important;
    border-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.INSTANCE-I981-20852-892-19907-1636-44822 {
    transform: rotate(0deg);
    position: absolute;
    width: 14px;
    height: 14px;
    left: 9px;
    top: 9px;
    opacity: 1;
    overflow: hidden;
}

.INSTANCE-I981-20852-888-24933 {
    transform: rotate(0deg);
    position: absolute;
    width: 38px;
    height: 38px;
    left: 1336px;
    top: 18px;
    opacity: 1;
    overflow: hidden;
}

.GROUP-I981-20852-888-24934 {
    position: absolute;
    width: 197.1952362060547px;
    height: 37.56097412109375px;
    left: 1449.8779296875px;
    top: 18.219482421875px;
    transform: rotate(0deg);
    z-index: 3;
    opacity: 1;
}

.GROUP-I981-20852-888-24988 {
    position: absolute;
    width: 126px;
    height: 34px;
    left: 1497px;
    top: 21px;
    transform: rotate(0deg);
    z-index: 4;
    opacity: 1;
}

.INSTANCE-I981-20852-888-24937 {
    transform: rotate(0deg);
    position: absolute;
    width: 17.073171615600586px;
    height: 17.073171615600586px;
    left: 1630px;
    top: 29px;
    opacity: 1;
    background: transparent;
}

.GROUP-I981-20852-888-24937-2-9385 {
    position: absolute;
    width: 17.073171615600586px;
    height: 17.073171615600586px;
    left: 0px;
    top: 0px;
    transform: rotate(0deg);
    z-index: 1;
    opacity: 1;
}

.GROUP-I981-20852-888-24937-2-9386 {
    position: absolute;
    width: 17.073171615600586px;
    height: 17.073171615600586px;
    left: 0px;
    top: 0px;
    transform: rotate(0deg);
    z-index: 1;
    opacity: 1;
}

.FRAME-I981-20852-1174-70087 {
    transform: rotate(0deg);
    position: absolute;
    width: 35px;
    height: 36px;
    left: 1392px;
    top: 17px;
    opacity: 1;
    overflow: hidden;
}

.GROUP-I981-20852-888-24939 {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 0px;
    top: 4px;
    transform: rotate(0deg);
    z-index: 1;
    opacity: 1;
}

.ELLIPSE-I981-20852-888-24940 {
    position: absolute;
    left: 0px;
    top: 4px;
    transform: rotate(0deg);
    transform-origin: center !important;
    background: rgba(114, 87, 255, 1);

    border-radius: 50%;

    width: 32px;
    height: 32px;
    opacity: 1;
    clip-path: url(#id-Ellipse678-31-Group427320580-31-Group427320581-31-Component7-31-Frame39-svgpath);
}

.GROUP-I981-20852-888-24941 {
    position: absolute;
    width: 14.007497787475586px;
    height: 17.278087615966797px;
    left: 8.992502212524414px;
    top: 9.918217182159424px;
    transform: rotate(0deg);
    z-index: 2;
    opacity: 1;
}

.ELLIPSE-I981-20852-888-24944 {
    position: absolute;
    left: 22px;
    top: 0px;
    transform: rotate(0deg);
    transform-origin: center !important;
    background: rgba(255, 0, 0, 1);

    border-radius: 50%;

    width: 13px;
    height: 13px;
    opacity: 1;
    clip-path: url(#id-Ellipse679-31-Group427320581-31-Component7-31-Frame39-svgpath);
}

.RECTANGLE-981-21549 {
    position: absolute;
    left: 61px;
    top: 135px;
    transform: rotate(0deg);
    transform-origin: center !important;
    background: rgba(255, 255, 255, 1);

    border: 2px solid rgba(177, 177, 177, 1);

    border-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    width: 300px;
    height: 710px;
    opacity: 1;
}

.FRAME-981-21559 {
    transform: rotate(0deg);
    position: absolute;
    width: 304px;
    height: 4px;
    left: 61px;
    top: 808px;
    opacity: 1;
}

.FRAME-981-21847 {
    transform: rotate(0deg);
    position: absolute;
    width: 1044px;
    height: 1px;
    left: 522px;
    top: 635px;
    opacity: 1;
}

.INSTANCE-981-21473 {
    transform: rotate(0deg);
    position: absolute;
    width: 304px;
    height: 40px;
    left: 61px;
    top: 809px;
    opacity: 1;
}

.FRAME-I981-21473-645-86738 {
    transform: rotate(0deg);
    position: absolute;
    width: 288px;
    height: 40px;
    left: 8px;
    top: 0px;
    opacity: 1;
    background: transparent;
    border-radius: 12px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.INSTANCE-I981-21473-645-86739 {
    transform: rotate(0deg);
    position: absolute;
    width: 20px;
    height: 20px;
    left: 12px;
    top: 10px;
    opacity: 1;
    overflow: hidden;
}

.INSTANCE-I981-21473-645-86741 {
    transform: rotate(0deg);
    position: absolute;
    width: 18px;
    height: 18px;
    left: 202px;
    top: 11px;
    opacity: 0;
    overflow: hidden;
}

.GROUP-981-21635 {
    position: absolute;
    width: 304px;
    height: 240px;
    left: 61px;
    top: 151px;
    transform: rotate(0deg);
    z-index: 10;
    opacity: 1;
}

.FRAME-981-21602 {
    transform: rotate(0deg);
    position: absolute;
    width: 304px;
    height: 40px;
    left: 61px;
    top: 151px;
    opacity: 1;
}

.FRAME-981-21603 {
    transform: rotate(0deg);
    position: absolute;
    width: 280px;
    height: 40px;
    left: 12px;
    top: 0px;
    opacity: 1;
    background: transparent;
    border-radius: 12px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.INSTANCE-981-21604 {
    transform: rotate(0deg);
    position: absolute;
    width: 20px;
    height: 20px;
    left: 12px;
    top: 10px;
    opacity: 1;
    overflow: hidden;
}

.INSTANCE-981-21606 {
    transform: rotate(0deg);
    position: absolute;
    width: 18px;
    height: 18px;
    left: 202px;
    top: 11px;
    opacity: 0;
    overflow: hidden;
}

.FRAME-981-21596 {
    transform: rotate(0deg);
    position: absolute;
    width: 304px;
    height: 40px;
    left: 61px;
    top: 191px;
    opacity: 1;
}

.FRAME-981-21597 {
    transform: rotate(0deg);
    position: absolute;
    width: 280px;
    height: 40px;
    left: 12px;
    top: 0px;
    opacity: 1;
    background: transparent;
    border-radius: 12px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.INSTANCE-981-21598 {
    transform: rotate(0deg);
    position: absolute;
    width: 20px;
    height: 20px;
    left: 12px;
    top: 10px;
    opacity: 1;
    overflow: hidden;
}

.INSTANCE-981-21600 {
    transform: rotate(0deg);
    position: absolute;
    width: 30px;
    height: 24px;
    left: 238px;
    top: 8px;
    opacity: 1;
    box-shadow: 0px 1px 2px -1px rgba(17, 12, 34, 0.07999999821186066);
    overflow: hidden;
    background: rgba(114, 87, 255, 1);
    box-shadow: 0px 1px 2px -1px rgba(17, 12, 34, 0.07999999821186066);
    border-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.FRAME-981-21581 {
    transform: rotate(0deg);
    position: absolute;
    width: 304px;
    height: 40px;
    left: 61px;
    top: 231px;
    opacity: 1;
}

.FRAME-981-21582 {
    transform: rotate(0deg);
    position: absolute;
    width: 280px;
    height: 40px;
    left: 12px;
    top: 0px;
    opacity: 1;
    background: rgba(241, 238, 255, 1);
    border-radius: 12px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.INSTANCE-981-21583 {
    transform: rotate(0deg);
    position: absolute;
    width: 20px;
    height: 20px;
    left: 12px;
    top: 10px;
    opacity: 1;
    overflow: hidden;
}

.INSTANCE-981-21585 {
    transform: rotate(0deg);
    position: absolute;
    width: 18px;
    height: 18px;
    left: 202px;
    top: 11px;
    opacity: 0;
    overflow: hidden;
}

.FRAME-981-21593 {
    transform: rotate(0deg);
    position: absolute;
    width: 304px;
    height: 40px;
    left: 61px;
    top: 271px;
    opacity: 1;
    background: transparent;
}

.INSTANCE-981-21594 {
    transform: rotate(0deg);
    position: absolute;
    width: 40px;
    height: 40px;
    left: 16px;
    top: 0px;
    opacity: 1;
    overflow: hidden;
}

.INSTANCE-981-21595 {
    transform: rotate(0deg);
    position: absolute;
    width: 232px;
    height: 40px;
    left: 56px;
    top: 0px;
    opacity: 1;
}

.FRAME-I981-21595-645-86738 {
    transform: rotate(0deg);
    position: absolute;
    width: 232px;
    height: 40px;
    left: 0px;
    top: 0px;
    opacity: 1;
    background: transparent;
    border-radius: 12px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.INSTANCE-I981-21595-645-86739 {
    transform: rotate(0deg);
    position: absolute;
    width: 20px;
    height: 20px;
    left: 12px;
    top: 10px;
    opacity: 0;
    overflow: hidden;
}

.INSTANCE-I981-21595-645-86741 {
    transform: rotate(0deg);
    position: absolute;
    width: 18px;
    height: 18px;
    left: 202px;
    top: 11px;
    opacity: 0;
    overflow: hidden;
}

.FRAME-981-21588 {
    transform: rotate(0deg);
    position: absolute;
    width: 304px;
    height: 40px;
    left: 61px;
    top: 311px;
    opacity: 1;
    background: transparent;
}

.INSTANCE-981-21589 {
    transform: rotate(0deg);
    position: absolute;
    width: 40px;
    height: 40px;
    left: 16px;
    top: 0px;
    opacity: 1;
    overflow: hidden;
}

.INSTANCE-981-21590 {
    transform: rotate(0deg);
    position: absolute;
    width: 232px;
    height: 40px;
    left: 56px;
    top: 0px;
    opacity: 1;
}

.FRAME-I981-21590-645-86738 {
    transform: rotate(0deg);
    position: absolute;
    width: 232px;
    height: 40px;
    left: 0px;
    top: 0px;
    opacity: 1;
    background: transparent;
    border-radius: 12px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.INSTANCE-I981-21590-645-86739 {
    transform: rotate(0deg);
    position: absolute;
    width: 20px;
    height: 20px;
    left: 12px;
    top: 10px;
    opacity: 0;
    overflow: hidden;
}

.INSTANCE-I981-21590-645-86741 {
    transform: rotate(0deg);
    position: absolute;
    width: 18px;
    height: 18px;
    left: 202px;
    top: 11px;
    opacity: 0;
    overflow: hidden;
}

.FRAME-981-21575 {
    transform: rotate(0deg);
    position: absolute;
    width: 304px;
    height: 40px;
    left: 61px;
    top: 351px;
    opacity: 1;
}

.FRAME-981-21576 {
    transform: rotate(0deg);
    position: absolute;
    width: 280px;
    height: 40px;
    left: 12px;
    top: 0px;
    opacity: 1;
    background: transparent;
    border-radius: 12px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.INSTANCE-981-21577 {
    transform: rotate(0deg);
    position: absolute;
    width: 20px;
    height: 20px;
    left: 12px;
    top: 10px;
    opacity: 1;
    overflow: hidden;
}

.INSTANCE-981-21579 {
    transform: rotate(0deg);
    position: absolute;
    width: 18px;
    height: 18px;
    left: 202px;
    top: 11px;
    opacity: 0;
    overflow: hidden;
}

.FRAME-981-21561 {
    transform: rotate(0deg);
    position: absolute;
    width: 256px;
    height: 216px;
    left: 85px;
    top: 554px;
    opacity: 1;
    box-shadow: 0px 1px 2px -1px rgba(17, 12, 34, 0.07999999821186066);
    overflow: hidden;
    background: rgba(241, 238, 255, 1);
    box-shadow: 0px 1px 2px -1px rgba(17, 12, 34, 0.07999999821186066);
    border: 1px solid rgba(243, 243, 244, 1);

    left: 84px !important;
    top: 553px !important;
    border-radius: 16px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.FRAME-981-21564 {
    transform: rotate(0deg);
    position: absolute;
    width: 208px;
    height: 56px;
    left: 24px;
    top: 136px;
    opacity: 1;
}

.INSTANCE-981-21565 {
    transform: rotate(0deg);
    position: absolute;
    width: 208px;
    height: 40px;
    left: 0px;
    top: 16px;
    opacity: 1;
    box-shadow: 0px 1px 2px -1px rgba(17, 12, 34, 0.07999999821186066);
    overflow: hidden;
    background: rgba(114, 87, 255, 1);
    box-shadow: 0px 1px 2px -1px rgba(17, 12, 34, 0.07999999821186066);
    border-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.INSTANCE-I981-21565-15-364 {
    transform: rotate(0deg);
    position: absolute;
    width: 18px;
    height: 18px;
    left: 12px;
    top: 11px;
    opacity: 0;
    overflow: hidden;
}

.INSTANCE-I981-21565-15-366 {
    transform: rotate(0deg);
    position: absolute;
    width: 18px;
    height: 18px;
    left: 131.5px;
    top: 11px;
    opacity: 1;
    overflow: hidden;
}

.INSTANCE-981-21775 {
    transform: rotate(0deg);
    position: absolute;
    width: 128px;
    height: 67px;
    left: 16px;
    top: 1569px;
    opacity: 1;
    background: transparent;
}

.FRAME-981-21776 {
    transform: rotate(0deg);
    position: absolute;
    width: 136px;
    height: 40px;
    left: 1576px;
    top: 1583px;
    opacity: 1;
}

.INSTANCE-981-21777 {
    transform: rotate(0deg);
    position: absolute;
    width: 136px;
    height: 40px;
    left: 0px;
    top: 0px;
    opacity: 1;
    box-shadow: 0px 1px 2px -1px rgba(17, 12, 34, 0.07999999821186066);
    overflow: hidden;
    background: rgba(114, 87, 255, 1);
    box-shadow: 0px 1px 2px -1px rgba(17, 12, 34, 0.07999999821186066);
    border-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.INSTANCE-I981-21777-15-364 {
    transform: rotate(0deg);
    position: absolute;
    width: 18px;
    height: 18px;
    left: 12px;
    top: 11px;
    opacity: 0;
    overflow: hidden;
}

.INSTANCE-I981-21777-15-366 {
    transform: rotate(0deg);
    position: absolute;
    width: 18px;
    height: 18px;
    left: 92px;
    top: 11px;
    opacity: 0;
    overflow: hidden;
}

.GROUP-981-21736 {
    position: absolute;
    width: 972px;
    height: 270px;
    left: 378px;
    top: 1103px;
    transform: rotate(0deg);
    z-index: 18;
    opacity: 1;
}

.GROUP-981-21843 {
    position: absolute;
    width: 312px;
    height: 112px;
    left: 522px;
    top: 498px;
    transform: rotate(0deg);
    z-index: 19;
    opacity: 1;
}

.INSTANCE-981-21803 {
    transform: rotate(0deg);
    position: absolute;
    width: 48px;
    height: 48px;
    left: 522px;
    top: 549px;
    opacity: 1;
    box-shadow: 0px 1px 2px -1px rgba(17, 12, 34, 0.07999999821186066);
    overflow: hidden;
    background: rgba(114, 87, 255, 1);
    box-shadow: 0px 1px 2px -1px rgba(17, 12, 34, 0.07999999821186066);
    border-radius: 12px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.INSTANCE-I981-21803-263-17102 {
    transform: rotate(0deg);
    position: absolute;
    width: 22px;
    height: 22px;
    left: 13px;
    top: 13px;
    opacity: 1;
    overflow: hidden;
}

.INSTANCE-981-21796 {
    transform: rotate(0deg);
    position: absolute;
    width: 237px;
    height: 71.69999694824219px;
    left: 1430px;
    top: 206px;
    opacity: 1;
    box-shadow: 0px 0.7406250238418579px 1.4812500476837158px -0.7406250238418579px rgba(17, 12, 34, 0.07999999821186066);
    background: rgba(114, 87, 255, 1);
    box-shadow: 0px 0.7406250238418579px 1.4812500476837158px -0.7406250238418579px rgba(17, 12, 34, 0.07999999821186066);
    border-radius: 8.887500762939453px;
    border-top-left-radius: 8.887500762939453px;
    border-top-right-radius: 8.887500762939453px;
    border-bottom-left-radius: 8.887500762939453px;
    border-bottom-right-radius: 8.887500762939453px;
}

.INSTANCE-I981-21796-15-336 {
    transform: rotate(0deg);
    position: absolute;
    width: 17.775001525878906px;
    height: 17.775001525878906px;
    left: 11.850000381469727px;
    top: 11.850000381469727px;
    opacity: 0;
    overflow: hidden;
}

.INSTANCE-I981-21796-15-338 {
    transform: rotate(0deg);
    position: absolute;
    width: 17.775001525878906px;
    height: 17.775001525878906px;
    left: 91.09687805175781px;
    top: 11.850000381469727px;
    opacity: 0;
    overflow: hidden;
}

.GROUP-981-21844 {
    position: absolute;
    width: 127px;
    height: 112px;
    left: 1094px;
    top: 498px;
    transform: rotate(0deg);
    z-index: 22;
    opacity: 1;
}

.INSTANCE-981-21817 {
    transform: rotate(0deg);
    position: absolute;
    width: 48px;
    height: 48px;
    left: 1094px;
    top: 549px;
    opacity: 1;
    box-shadow: 0px 1px 2px -1px rgba(17, 12, 34, 0.07999999821186066);
    overflow: hidden;
    background: rgba(114, 87, 255, 1);
    box-shadow: 0px 1px 2px -1px rgba(17, 12, 34, 0.07999999821186066);
    border-radius: 12px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.INSTANCE-I981-21817-263-17102 {
    transform: rotate(0deg);
    position: absolute;
    width: 22px;
    height: 22px;
    left: 13px;
    top: 13px;
    opacity: 1;
    overflow: hidden;
}

.GROUP-981-21842 {
    position: absolute;
    width: 207px;
    height: 112px;
    left: 522px;
    top: 661px;
    transform: rotate(0deg);
    z-index: 23;
    opacity: 1;
}

.INSTANCE-981-21812 {
    transform: rotate(0deg);
    position: absolute;
    width: 48px;
    height: 48px;
    left: 522px;
    top: 712px;
    opacity: 1;
    box-shadow: 0px 1px 2px -1px rgba(17, 12, 34, 0.07999999821186066);
    overflow: hidden;
    background: rgba(114, 87, 255, 1);
    box-shadow: 0px 1px 2px -1px rgba(17, 12, 34, 0.07999999821186066);
    border-radius: 12px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.INSTANCE-I981-21812-263-17102 {
    transform: rotate(0deg);
    position: absolute;
    width: 22px;
    height: 22px;
    left: 13px;
    top: 13px;
    opacity: 1;
    overflow: hidden;
}

.GROUP-981-21845 {
    position: absolute;
    width: 183px;
    height: 112px;
    left: 1091px;
    top: 661px;
    transform: rotate(0deg);
    z-index: 24;
    opacity: 1;
}

.GROUP-981-21834 {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 1094px;
    top: 712px;
    transform: rotate(0deg);
    z-index: 26;
    opacity: 1;
}

.RECTANGLE-981-21831 {
    position: absolute;
    left: 1094px;
    top: 712px;
    transform: rotate(0deg);
    transform-origin: center !important;
    background: rgba(114, 87, 255, 1);

    border-radius: 12px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;

    width: 48px;
    height: 48px;
    opacity: 1;
}

.INSTANCE-994-20975 {
    transform: rotate(0deg);
    position: absolute;
    width: 237px;
    height: 78.08197021484375px;
    left: 1430px;
    top: 300.45574951171875px;
    opacity: 1;
    box-shadow: 0px 1.9426229000091553px 3.8852458000183105px -1.9426229000091553px rgba(17, 12, 34, 0.07999999821186066);
    overflow: hidden;
    background: rgba(249, 248, 255, 1);
    box-shadow: 0px 1.9426229000091553px 3.8852458000183105px -1.9426229000091553px rgba(17, 12, 34, 0.07999999821186066);
    border: 1.9426229000091553px solid rgba(226, 220, 255, 1);

    left: 1428.0573770999908px !important;
    top: 298.5131266117096px !important;
    border-radius: 15.540983200073242px;
    border-top-left-radius: 15.540983200073242px;
    border-top-right-radius: 15.540983200073242px;
    border-bottom-left-radius: 15.540983200073242px;
    border-bottom-right-radius: 15.540983200073242px;
}

.INSTANCE-I994-20975-58-2425 {
    transform: rotate(0deg);
    position: absolute;
    width: 34.96721267700195px;
    height: 34.96721267700195px;
    left: 23.311473846435547px;
    top: 21.368852615356445px;
    opacity: 0;
    overflow: hidden;
}

.INSTANCE-I994-20975-58-2427 {
    transform: rotate(0deg);
    position: absolute;
    width: 34.96721267700195px;
    height: 34.96721267700195px;
    left: 178.7213134765625px;
    top: 21.368852615356445px;
    opacity: 0;
    overflow: hidden;
}